[submodule "runc"]
	path = _submodules/runc
	url = https://github.com/opencontainers/runc
[submodule "firecracker"]
	path = _submodules/firecracker
	url = https://github.com/vhive-serverless/firecracker.git
[submodule "stargz-snapshotter"]
	path = _submodules/stargz-snapshotter
	url = https://github.com/containerd/stargz-snapshotter
