{
  "firecracker_binary_path": "./firecracker",
  "kernel_image_path": "vmlinux",
  "kernel_args": "console=ttyS0 noapic reboot=k panic=1 pci=off nomodules rw",
  "root_drive": "./vsock.img",
  "cpu_template": "T2",
  "log_levels": ["debug"],
  "ht_enabled": false
}
