[Unit]
Description=Single container root filesystem
ConditionPathIsDirectory=/container/rootfs
DefaultDependencies=no

[Mount]
What=/dev/vdb
Where=/container/rootfs
